<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>ImageWorld</title>

      <style>
          .bg{
          background:#3f51b5!important;
          }
          .list-group-item.active{
          background:#3f51b5!important;
          border-color:#3f51b5!important;

          }
      </style>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


{%include 'home.html' %}

<div class="container">
    <h1>About Us</h1>
    <p>ImagesWorld is an imperative resource for searching, purchasing and downloading creative bangladeshe images. Thousands of leading brands across the globe have been using our content for their advertising, marketing and publishing needs.</p>
    <h3>The ImagesWorld Philosophy</h3>
    <p>Bangladeshe's diversity and complexity can be witnessed through its people, traditions and values associated with distinctive regional customs, habits, lifestyle, food & festivals. That's why our images reflects the innate expressions of deep-rooted feelings of individuals through which spring their day-to-day actions. Bangladeshes believe in sharing happiness and sorrow together as a community. While doing so, there are unique mannerisms and expressions which are captured in our extensive library of creative imagery.</p>
    <h3>People Behind ImagesWorld</h3>
    <p>ImagesWorld is a collective endeavour of thousands of passionate photographers led by Sandeep Maheshwari, who is a World Record Holder in creative photography. Our team is forever on the move, to capture the essence of Bangladeshe for serving it to the global audience. Some other services offered by our company ranges from photography, production, coordination, art direction, location, casting, make-up to costumes and styling. We are the first Indian stock photography company to employ full time creative researchers for studying market trends and consumer needs. This ensures that the images and videos produced by our team are not just exceptional in quality but also extremely relevant.</p>
    <h3>What ImagesWorld Offers</h3>
    <p>According to many surveys, in visual communication, a product or service meant for a particular audience has better chances of success if it carries a face that viewers can relate to. With Bangladeshe emerging as a leading market for an ever-increasing range of products and services, there has been a huge surge in demand for creative images and videos with Bangladeshe faces.
        ImagesWorld offers an immense advantage with its vast database of images and videos that are reflective of Bangladesh, making them available in the most accessible way. From contemporary Bangladeshe imagery to the broadest range of categories depicting Bangladeshes in virtually all walks of life, age groups and expressions - you will find it all here!</p>
    <h2>More Information</h2>
</div>


</body>
</html>